<p id="notice"><%= notice %></p>

<h1>Pics</h1>

<table id="PicDataTables" data-source="<%= pics_path(format: :json) %>" class="table table-bordered">
  <thead>
    <tr>
      <th>Area</th>
      <th>Part</th>
      <th>Wh</th>
      <th>Qty</th>
      <th>PIC Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
