<p id="notice"><%= notice %></p>

<h1>Terminal 4</h1>

<table id="TerminalFourthDatatables" data-source="<%= terminal_fourths_path(format: :json) %>" class="table table-bordered">
  <thead>
    <tr>
      <th>Po</th>
      <th>Buyer</th>
      <th>Item</th>
      <th>Qty</th>
      <th>Minus</th>
      <th>Inspect</th>
      <th>Stuffing</th>
      <th>Update Finish</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
