<%= form_for @buyer, validate: true do |f| %>

  <div class="row">
    <div class="col-md-1"><%= f.label :name %></div>
    <div class="col-md-1"><%= f.text_field :name, validate: { presence: true, uniqueness: false } %></div>
  </div>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
